@model sample_rails_app_8th_edNT.Models.User
<!-- <h1>Sample App</h1>
<p>Hi @Model.Name,</p>
<p>
    Welcome to the Sample App! Click on the link below to activate your account:
</p>
<p>
    <a href="@Url.Action("Edit", "AccountActivations", new { id = Model.ActivationToken, email = Model.Email }, protocol: "https")">Activate</a>
</p> -->
